<p><b>$event</b> is a reserved keyword to give us access to event data. In this case the event is input i.e. keystroke.
</p>
<input type="text" class="from-control" (input)="onUpdateServerName($event)">
<p>{{serverName}}</p>

<button class="btn btn-primary" [disabled]="!allowNewServer">Add Server</button>

<app-server></app-server>

<p>disabled is a html property which needs a value true or false
    We are providing it value from a variable.
    we are changing its value using setTimeout method, the browser now has
    to get the updated value.
</p>
<p>
    <b>For that we are using property binding.</b> because this is only one way i.e we are only doing something based on
    the
    input we are getting from js, we cant consider this as 2 way data binding..
</p>
<p>
    If we only wanted to print the value of the property rather than using it to enable/disable something, we could have
    also used string interpolation. In that case it wouldnt have made a difference
</p>
<p>
    Below is the example to show just that
</p>

<p>{{allowNewServer}} </p>
<p [innerText]="allowNewServer"> </p>

<p><b>Below is example of event binding.</b></p>
<p> parenthesis around click is angulars way of doing what htmk does with onClick. So
    whenever you find parentehsis know its from event binding</p>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<p>{{serverCreationStatus}}</p>