<p>This is <b>assignment</b> to use all the types of bindings together. The goal here is to allow the user to input
    value that we print underneth and also give a button that lets us reset
    the value.
    This button is only enabled if the textbox has some value to wipe
</p>
<input type="text" [(ngModel)]="username">
<!-- Technically we didnt necessarily had to put the comparision logic for disabled in th ehtml file
We could have made a boolean variable and use that to decide to enable/disable the button
Although nothing wrong with that, but would have made the process lengthy for us.
we would then need to update this variable value based on the input entered.
Fro that we would need to use event binding on keystroke and make yet another method
to evaluate data in the textbox and accordingly update the boolean variable. 
Hence we can directly use the logic here as its also a sigle statement and saves us a lot of work.
-->
<!-- Technically whatever we have put in resetTextBox also can be put in this html page as again its a single statement-->
<button [disabled]="username === ''" (click)="resetTextbox()">resert User</button>
<p>{{username}}</p>
<hr>
<hr>
<p><b>$event</b> is a reserved keyword to give us access to event data.
    In this case the event is input i.e. keystroke.
    Becuase this is event binding and not 2 way data binding,
    the initial value of the server mentoned in component file which is teset server
    does not appear in the text box when we load the page.
    implying its only taking data from browser on the keystroke event to server.
    Not other way around.
</p>


<!-- Commenting event binding to use 2 way data binding
    <input type="text" class="from-control" (input)="onUpdateServerName($event)"> -->

<input type="text" class="from-control" [(ngModel)]="serverName">

<!-- Below commented section is although lame but a good example of the extent of 2 way data binding
    not only when the epage loads we can see the initial value of server name, the event binding part 
    triggers the onUpdateServer method on keystroke, but there we tried to change the server name to 
    Abrupt server name changed, that not only prints it below the textbox because we are printing the srevre name
    it also updates the value inside the textbox. So technically whatever the user types is not visible anymore.
    2 way data binding is the one responsible to change the value of the textbox when we are changing it from our component
    <input type="text" class="from-control" [(ngModel)] = "serverName"  (input)="onUpdateServerName($event)"> -->

<!-- #noServer is a local reference, used to name a ngTemplate, to let angular know what to add if a particular condition is true-->

<p *ngIf="serverCreated; else noServer">Server was created. Server name is {{serverName}}</p>
<ng-template #noServer>
    <p>No server was created</p>
</ng-template>

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="addNewServer($event)">Add Server</button>
<hr>
<hr>

<!--Alternative syntax of for
This feature is available from angular 17
The advantage of the new syntax is that it can be slightly more efficient under the hood and that it does not rely on NgFor or the CommonModule being imported / available.

The track item.id part is required when using this new syntax - it ensures that Angular can efficiently track and re-render (if needed) the list items.-->
@for (server of serverList; track $index) {
    <app-server></app-server>
}
<hr>
<hr>
<p>disabled is a html property which needs a value true or false
    We are providing it value from a variable.
    we are changing its value using setTimeout method, the browser now has
    to get the updated value.
</p>
<p>
    <b>For that we are using property binding.</b> because this is only one way i.e we are only doing something based on
    the
    input we are getting from js, we cant consider this as 2 way data binding..
</p>
<p>
    If we only wanted to print the value of the property rather than using it to enable/disable something, we could have
    also used string interpolation. In that case it wouldnt have made a difference
</p>
<p>
    Below is the example to show just that
</p>

<p>{{allowNewServer}} </p>
<p [innerText]="allowNewServer"> </p>

<hr>
<hr>
<p><b>Below is example of event binding.</b></p>
<p> parenthesis around click is angulars way of doing what htmk does with onClick. So
    whenever you find parentehsis know its from event binding</p>
<p>using <b>ngIf</b> we are instructing angular to only show the server creation status if a server has been created.
    Else that
    line would not be jsut hidden but would not even exist in the dom</p>
<p>The * in front of ngIf implies that this parrective has the power to change the dom structure. Implyiong its a
    <b>structural directive</b>
</p>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>

<!--Below is the new syntax of ngIf which makes it more inline with traditional if like we have in java and other languages. Added in angular 17-->
@if (serverCreated) {
<p>{{serverCreationStatus}}</p>
}


<hr>
<hr>